<html>
<head>
<style>
div {
  height: 200px;
  width: 50%;
  background-color: powderblue;
}
</style>
</head>
<body>

<h2>nguyenthiphuong_2121051561</h2>

<div>nguyenthiphuong_2121051561.</div>

</body>
</html>
<html>
<head>
<style>
div {
  height: 100px;
  width: 500px;
  background-color: powderblue;
}
</style>
</head>
<body>

<h2>nguyenthiphuong_2121051561</h2>

<div>nguyenthiphuong_2121051561.</div>

</body>
</html>
<html>
<head>
<style>
div {
  max-width: 500px;
  height: 100px;
  background-color: powderblue;
}
</style>
</head>
<body>

<h2>nguyenthiphuong_2121051561</h2>

<div>nguyenthiphuong_2121051561.</div>

<p>nguyenthiphuong_2121051561</p>

</body>
</html>