<html>
<head>
<style>
h1 {
  font-size: 60px;
}

p {
  font-size: 25px;
  line-height: 50px;
}
</style>
</head>
<body>

<h1>nguyenthiphuong_2121051561</h1>
<h2>nguyenthiphuong_2121051561</h2>
<p>nguyenthiphuong_2121051561</p>
<p>nguyenthiphuong_2121051561</p>

</body>
</html>