
@{
    ViewData["Title"] = "Tính Điểm Môn Học";
}

<h1>Tính Điểm Môn Học</h1>

    <div>
        
        <input type="float" name="DiemA" placeholder="số">
    </div>

    <div>
        
        <input type="float" name="DiemB" placeholder="số">
    </div>

    <div>
        
        <input type="float" name="DiemC" placeholder="số">
    </div>

    <div>
        <input type="submit" value="Tính điểm tổng" />
    </div>

    <h2>Điểm tổng môn học: @ViewBag.DiemTong</h2>