<h1>Dữ liệu từ Controller Gửi về là: @ViewBag.inforPerson</h1>
<form asp-action="Index">
    <label>Nhập PersonID</label>
    <input type="text"name="PersonID">
    <label>Nhập họ tên:</label>
    <input type="text"name="Fullname">
    <label>Nhập địa chỉ:</label>
    <input type="text"name="Address"> 
    <input type="submit"value="Gửi dữ liệu"
</form>